#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  height: 313px;
  margin: 0 100px;
}
.photograph-header a {
  text-decoration: none;
}
.photograph-header h2 {
  color: #D3573C;
  font-size: 2.25em;
  margin: 5px auto;
}
.photograph-header article {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.photograph-header article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}
.photograph-header .photographer_section--localisation {
  font-size: 1.5em;
}
.photograph-header .photographer_section--slogan {
  font-size: 1.12em;
}

.media-photographe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px;
}
.media-photographe article {
  width: 350px;
}
.media-photographe article div {
  margin: 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media-photographe article h2 {
  font-weight: 400;
  font-size: 1.5em;
  color: #901C1C;
  margin: 0;
}
.media-photographe article p {
  font-weight: 600;
  font-size: 1.5em;
  color: #901C1C;
}
.media-photographe article img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 36px;
  width: 328px;
  padding: 0 36px;
  height: 40px;
  background-color: #DB8876;
}
.info p {
  font-size: 1.2em;
  font-weight: 600;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  min-width: 1024px;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 2.25em;
  margin: 5px auto;
}
.photographer_section article a {
  text-align: center;
  text-decoration: none;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}
.photographer_section article div {
  width: 100%;
  text-align: center;
}
.photographer_section--localisation {
  font-size: 0.8em;
  color: #901C1C;
  margin: 2px auto;
}
.photographer_section--slogan {
  font-size: 0.625em;
}
.photographer_section--prix {
  font-size: 0.55em;
  color: #757575;
}

/*# sourceMappingURL=style.css.map */
