@import "unit.scss";
@import "photographer.scss";

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
}
main {
    min-width: 1024px;
}
p{
    margin : 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}

h1 {
    color: $color-prim;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            color: $color-sec;
            font-size: 2.25em;
            margin: 5px auto;
        }
        a{
            text-align: center;
            text-decoration: none;
        }
        img{
            height: 200px;
            width: 200px;
            border-radius : 50%;
            object-fit: cover;
           text-align: center;
        }  
        div{
            width: 100%;
            text-align: center;
        }
    }
    &--localisation {
        font-size: 0.8em;
        color : $color-prim;
        margin:2px auto;
    } 
    &--slogan {
        font-size: 0.625em;
    }
    &--prix {
        font-size : 0.55em;
        color : $color-prix-accueil;
    }
}




